<form class="form-inline" name="editable_form" style="margin-bottom: 0; display: inline-block">
	<div class="control-group" style="margin-bottom: 0" ng-class="{error: editable_form.$invalid }">
		<div class="input-append">
			<editable-input></editable-input>
	     	<button href="" class="btn btn-danger disabled" tooltip-append-to-body="true">
	     		<i class="icon-remove icon-white"></i>
	     	</button>
	        <button class="btn btn-primary">
	        	<i class="icon-ok icon-white"></i>
	        </button>
	    </div>
   </div>                 
</form>